<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://192.168.137.182\SQLEXPRESS:1433;databaseName=EventosUxDB</property>
    <property name="hibernate.connection.username">sa</property>
    <property name="hibernate.connection.password">789</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <mapping resource="entity/Estado.hbm.xml"/>
    <mapping resource="entity/Sysdiagrams.hbm.xml"/>
    <mapping resource="entity/Administrador.hbm.xml"/>
    <mapping resource="entity/Tema.hbm.xml"/>
    <mapping resource="entity/Profesion.hbm.xml"/>
    <mapping resource="entity/Costo.hbm.xml"/>
    <mapping resource="entity/Factura.hbm.xml"/>
    <mapping resource="entity/Congreso.hbm.xml"/>
    <mapping resource="entity/Municipio.hbm.xml"/>
    <mapping resource="entity/CategoriaInscripcion.hbm.xml"/>
    <mapping resource="entity/TipoAdministrador.hbm.xml"/>
    <mapping resource="entity/Aspirante.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
