<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="congresosPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>entity.Administrador</class>
    <class>entity.Factura</class>
    <class>entity.TipoAdministrador</class>
    <class>entity.CategoriaInscripcion</class>
    <class>entity.Tema</class>
    <class>entity.Costo</class>
    <class>entity.Congreso</class>
    <class>entity.Municipio</class>
    <class>entity.Sysdiagrams</class>
    <class>entity.Estado</class>
    <class>entity.Aspirante</class>
    <class>entity.Profesion</class>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:sqlserver://192.168.137.182\SQLEXPRESS:1433;databaseName=EventosUxDB"/>
      <property name="javax.persistence.jdbc.user" value="sa"/>
      <property name="javax.persistence.jdbc.driver" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
      <property name="javax.persistence.jdbc.password" value="789"/>
    </properties>
  </persistence-unit>
</persistence>
